<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Beginletter')"></head>
<body>
<h1>Van tot prijs</h1>
<form th:object="${beginletterForm}"
      method="get" th:action="@{klanten/beginletter}">
    <label>Beginletter::<span th:errors="*{beginletter}"></span><input th:field="*{beginletter}" autofocus></label>
    <button>Zoeken</button>
</form>
<ul th:if="${klanten}">
    <li th:each="klant:${klanten}">
        <a th:href="@{/klanten/{id}/wijzigen/form(id=${klant.id})}"
           th:text="${klant.familienaam}"></a></li>
</ul>
</body>
</html>