<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Bevestigen')"></head>
<nav th:fragment="menu">
    <ul >
        <li><a th:href="@{/genre}">Genres</a>
            <a th:href="@{/mandje}">Mandje</a>
            <a th:href="@{/klanten/beginletter/form}">Klant</a></li>
    </ul>
</nav>
<body>


<h1>Bevestigen</h1>

<span th:text="${aantalFilms}"></span> film(s) voor <span th:text="${klant.getNaam()}"></span>

    <form method="post" th:action="@{/reservatie/{id}/bevestigen/bevestiging(id=${klant.id})}">
        <button>Bevestigen</button>
    </form>


</body>

</html>



