<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=${filmId} == null ?
'Film niet gevonden' : ${film.titel})"></head>
<body>
<nav th:replace="fragments::menu"></nav>

<div th:if="${film}" th:object="${film}">
    <h1 th:text="*{titel}"></h1>


    <img th:src="${'/images/' + film.id + '.jpg'}" th:alt="${film.titel}"/>

    <dl>
        <dt>Prijs</dt>
        <dd th:text="*{getPrijs()}"></dd>
        <dt>Voorraad</dt>
        <dd th:text="*{getVoorraad()}"></dd>
        <dt>Gereserveerd</dt>
        <dd th:text="*{getGereserveerd()}"></dd>
        <dt>Beschikbaar</dt>
        <dd th:text="*{aantalBeschikbaar()}"></dd>

    </dl>
    <form method="post" th:action="@{/mandje/{id}(id=*{id})}">
        <button th:if="${film.aantalBeschikbaar()} > 0" >In Mandje</button>

    </form>
</div>
</body>
</html>