<div xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="menu">
        <ul >
            <li><a th:href="@{/}">Genres</a>
                <a th:href="@{/mandje}">Mandje</a>
                <a th:href="@{/kleuren}">Klant</a></li>
        </ul>
    </nav>
    <head th:fragment="head(title)">
        <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/FridaCSS.css}">
    </head>
</div>
