<div xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="menu">
        <ul >
            <li><a th:href="@{/genre}">Genres</a>
                <a th:href="@{/mandje}">Mandje</a>
                <a th:href="@{/klanten/beginletter/form}">Klant</a></li>
        </ul>


        <ul class="naastMekaar">

            <li th:each="genre:${genres}" th:object="${genre}">
                <a th:href="@{/genre/{id}(id=*{id})}" th:text="*{naam}"></a>
            </li>
        </ul>
    </nav>
    <head th:fragment="head(title)">
        <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{/css/FridaCSS.css}">
    </head>
    <h1>Genres</h1>

</div>
