<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=${genres} == null ?
'Genres' : ${film})"></head>
<head th:replace="fragments::head(title='Videotheek')"></head>

<body>
<nav th:replace="fragments::menu"></nav>
<!--<nav th:replace="fragments::menu"></nav>-->
<!--<h1 th:if="not ${genre}">-->

<h1 th:text="${genre}"></h1>


<div th:each="film:${films}">


    <a th:href="${'/film/' + film.id}" th:title="${film.titel}">
        <img th:src="${'/images/' + film.id + '.jpg'}" th:alt="${film.titel}"/>
    </a>

</div>

</body>
</html>

