<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Genres</title>
    <link rel="icon" href="images/luigi.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/luigi.css">
</head>
<body>

<ul>
    <li><a th:href="@{/genres}">Genres</a>
        <a th:href="@{/mandje}">Mandje</a>
        <a th:href="@{/kleuren}">Klant</a></li>
</ul>
    <h1>Genres</h1>
<ul>

    <li th:each="genre:${genres}" th:object="${genre}">
        <span th:text="*{naam}"></span>
    </li>
</ul>


</body>
</html>

